@import "../../../css-config/mixins.scss";

.shop-by-category {
  margin: 1.5625rem 0;
  @include md {
    margin: 3.125rem 0;
  }
  .categories {
    display: flex;
    flex-flow: wrap;
    gap: 0.625rem;
    .category {
      background-color: black;
      width: calc(50% - 0.3125rem);
      cursor: pointer;
      overflow: hidden;
      @include md {
        width: calc(25% - 0.625rem);
      }
      img {
        width: 100%;
        display: block;
        transition: all ease-in 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}
